@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    background-color: rgb(12, 1, 22);
    color: white;
    font-family: 'Roboto', sans-serif;
}
.all{
    background-color: black;
}
h1{
    text-align: center;
}
h4,h3{
    text-align: center;
}
.integrantes{
    text-align: center;
}
p{
    text-align: justify;
}
ul{
    list-style: square;
}